body{
    background-image:url("../img/background.jpg");
    background-size:500px 100px;
    color:azure;
    
}

a:visited{
    color:snow;
    font-size: 20px;
}



.info{
    text-align: center;
}
h1{
    padding-top: 30px;
    font-size: 40px;
    font-family: 'Space Mono', monospace;
}


.container{
    /* position:fixed; */
    display: flex;
    justify-content: center;
}
.left-element{
    display: inline-block;
    width:400px;
    font-size: 20px;
    margin-right: 30px;
    margin-top: 0px;
}
.right-element{
    display: inline-block;
    width: 200px;
    margin-left: 50px;
}
.right-element img{
    border-radius:200px;
    border:2px salmon solid;
    width: 250px;
    height: auto;
}

h2{
    font-size:30px;
    font-family: 'Space Mono',monospace;
}

img{
    height: 200px;
    width:auto;
}
img.dog{
    border: 3px solid #0000ff;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}
img.anime{
    border: 3px solid #ffa500;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}
img.anime{
    padding: 10px;
}

nav{
    text-align:right;
    
}


nav li{
    font-family: 'Space Mono', monospace;
    padding: 10px;
    width: 15%;
    /* background-color:sienna; */
    display:inline-block;
    text-align: center;
    font-size: 20px;
    border:none;
}
nav li a{
    color:white;
}

p{
    font-family: 'Space Mono',monospace;
}

.active{
    background-color: darkslategray;
    font-weight: bolder;
}

li a{
    text-decoration: none;
}

li a:hover{
    color: firebrick;
}
li a:visited:hover{
    color:maroon;
}

div.seperator{
    border: 2px dotted orange;
    margin: 1px;
}
footer{
    position:relative;
    bottom:2px;
    border:1px solid salmon;
}
