img{
    height: 200px;
    width:auto;
}
img.dog{
    border: 3px solid blue;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}
img.anime{
    border: 3px solid orange;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}
img.anime{
    padding: 10px;
}


nav li{
    padding: 20px;
    width: 30%;
    border:2px solid floralwhite;
    border-radius:3ch;
    background-color:sienna;
    display:inline-block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}
nav li a{
    color:white;
}


.active{
    background-color: darkslategray;
    font-weight: bolder;
}

li a{
    text-decoration: none;
}

li a:hover{
    font-size: 25px;
    color: firebrick;
}
li a:visited:hover{
    color:maroon;
}

div.seperator{
    border: 2px dotted orange;
    margin: 1px;
}
footer{
    position:relative;
    bottom:2px;
    border:1px solid salmon;
}
